<div *ngIf="page">
  <ul class="nav nav-tabs">
    <li class="nav-item" [ngClass]="{active:activeTab === 'content'}" >
      <a class="nav-link" href="#"(click)="toggleTab($event, 'content')">Content</a>
    </li>
    <li class="nav-item" [ngClass]="{active:activeTab === 'settings'}" >
      <a class="nav-link" href="#"(click)="toggleTab($event,'settings')">Settings</a>
    </li>
  </ul>
  <div class="tabContainer">
    <div class="card" *ngIf="activeTab === 'content'">
      <app-pages-edit-contents [page]="page" [layout]="layout" ></app-pages-edit-contents>
    </div>
    <div class="card" *ngIf="activeTab === 'settings'">
      <form>
      <div class="card-body">
        <div class="form-group row">
          <label class="control-label sr-only">Title</label>
          <div class="setting-control">
            <input type="text" class="form-control" name="title" [(ngModel)]="page.title" placeholder="Title" />
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label sr-only">Url Path</label>
          <div class="setting-control">
            <input type="text" class="form-control" name="slug" [(ngModel)]="page.slug" placeholder="Url Path" />
          </div>
        </div>
      </div>
      <div class="card-foot">
          <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
            Submit
          </button>
      </div>
      </form>
    </div>
  </div>
</div>