<aside class="sidebar" [class.collapsed]="collapsed">

  <!-- <div class="user" dropdown>
    <div class="user__info" dropdownToggle>
      <img class="user__img" src="./assets/demo/img/profile-pics/8.jpg" alt="">
      <div>
        <div class="user__name">Malinda Hollaway</div>
        <div class="user__email">malinda-h@gmail.com</div>
      </div>
    </div>

    <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="">View Profile</a>
      <a class="dropdown-item" href="">Settings</a>
      <a class="dropdown-item" href="">Logout</a>
    </div>
  </div> -->

  <ul class="navigation" role="navigation">
    <li routerLinkActive="navigation__active" *ngFor="let item of model.leftNav">
      <a routerLink="{{item.target}}">
        <i class="zmdi zmdi-home"></i>{{item.name}}</a>
    </li>
  </ul>

  <button (click)="collapsed = !collapsed">nav</button>
</aside>





<!-- <a class="nav-item nav-link collapsed" data-toggle="collapse" href="#doc_navdrawer_getting-started">
    <strong>Collapsable Nav</strong>
  </a>

  <div class="collapse pb-sm" id="doc_navdrawer_getting-started">
    <div *ngFor="let item of model.leftNav">
      <a class="nav-item nav-link pl-lg py-sm text-black-secondary" routerLink="{{item.target}}">
        <span class="font-weight-normal">{{item.name}}</span>
      </a>
    </div>
  </div> -->
