<ul class="list-group">
  <li *ngFor="let page of pages" class="list-group-item" [ngClass]="{'active':isActiveNode(page.id)}">
    <span (click)="selectNode(page)">{{page.title}}</span>
    <button type="button" class="btn btn-outline btn-sm waves-attach waves-circle" (click)="onAddClick(page);" title="New Child Page">
      <i class="material-icons">add</i>
    </button>
    <app-page-node [pages]="page.children" (nodeSelect)="onChildNodeSelect($event,page)"></app-page-node>
  </li>
</ul>

<!-- https://github.com/valor-software/ng2-tree -->
<tree [tree]="tree" [settings]="settings" (nodeRemoved)="handleRemoved($event)" (nodeRenamed)="handleRenamed($event)" (nodeSelected)="handleSelected($event)"
  (nodeMoved)="handleMoved($event)" (nodeCreated)="handleCreated($event)" (nodeExpanded)="handleExpanded($event)" (nodeCollapsed)="handleCollapsed($event)">
</tree>

<i class="material-icons">add</i>
