<section class="content">
  <header class="content__title">
    <h1>Dashboard</h1>
    <small>Welcome Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis unde, corporis aliquam, maiores dolor
      odio adipisci quod ab deleniti architecto praesentium illo asperiores hic totam, magni ut modi quae quo?</small>
  </header>

  <div class="row quick-stats">
    <div class="col-sm-6 col-md-3">
      <div class="quick-stats__item bg-light-blue">
        <div class="quick-stats__info">
          <h2>200</h2>
          <small>Website Traffic</small>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="quick-stats__item bg-amber">
        <div class="quick-stats__info">
          <h2>340</h2>
          <small>Website Traffic</small>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="quick-stats__item bg-red">
        <div class="quick-stats__info">
          <h2>7,000</h2>
          <small>Website Traffic</small>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="quick-stats__item bg-light-green">
        <div class="quick-stats__info">
          <h2>70</h2>
          <small>Website Traffic</small>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Sales Statistics</h4>
          <h6 class="card-subtitle">Vestibulum purus quam scelerisque, mollis nonummy metus</h6>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Growth Rate</h4>
          <h6 class="card-subtitle">Commodo luctus nisi erat porttitor ligula eget lacinia odio semnec elit</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Sales Statistics</h4>
          <h6 class="card-subtitle">Vestibulum purus quam scelerisque, mollis nonummy metus</h6>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Growth Rate</h4>
          <h6 class="card-subtitle">Commodo luctus nisi erat porttitor ligula eget lacinia odio semnec elit</h6>
        </div>
      </div>
    </div>
  </div>

</section>
